@{
    ViewData["Title"] = "Services Jasmine Specs";
}

<h1>@ViewData["Title"]</h1>
<pre><code id="logContainer"></code></pre>

@section Scripts
{
    <link rel="stylesheet" href="/js/jasmine/lib/jasmine-3.6.0/jasmine.css">

    <script src="/js/jasmine/lib/jasmine-3.6.0/jasmine.js"></script>
    <script src="/js/jasmine/lib/jasmine-3.6.0/jasmine-html.js"></script>
    <script src="/js/jasmine/lib/jasmine-3.6.0/boot.js"></script>

    <!-- include spec files here... -->
    <script src="/js/jasmine/spec/ChatBotSpec.js"></script>
}
